@import "tailwindcss";
@import "@fontsource/roboto/100.css";
@import "@fontsource/roboto/200.css";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/600.css";
@import "@fontsource/roboto/700.css";
@import "@fontsource/roboto/800.css";
@import "@fontsource/roboto/900.css";
@import "@fontsource/noto-sans-kr/100.css";
@import "@fontsource/noto-sans-kr/200.css";
@import "@fontsource/noto-sans-kr/300.css";
@import "@fontsource/noto-sans-kr/400.css";
@import "@fontsource/noto-sans-kr/500.css";
@import "@fontsource/noto-sans-kr/600.css";
@import "@fontsource/noto-sans-kr/700.css";
@import "./utilities.css";

@layer base {
  body {
    @apply font-sans text-gray-900 bg-white;
  }
}

:root {
  --font-sans: "Roboto", "Noto Sans KR", "system-ui", "Helvetica", "Arial", "sans-serif";
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Blue Colors */
  --color-blue-50: #E9F1FD;
  --color-blue-100: #D3E2FC;
  --color-blue-200: #A8C5F9;
  --color-blue-300: #7CA9F5;
  --color-blue-400: #518CF2;
  --color-blue-500: #256FEF;
  --color-blue-600: #1E59BF;
  --color-blue-700: #16438F;
  --color-blue-800: #0F2C60;
  --color-blue-900: #071630;

  /* Gray Colors */
  --color-gray-50: #FAFAFA;
  --color-gray-100: #F1F1F1;
  --color-gray-200: #D6D6D6;
  --color-gray-300: #E4E4E4;
  --color-gray-350: #EAEAEA;
  --color-gray-400: #9D9D9D;
  --color-gray-500: #6b7280;
  --color-gray-600: #AAAAAA;

  /* Red Colors */
  --color-red-300: #F35242;
  --color-red-400: #F20F0F;
  --color-red-500: #C70D0D;

  /* Green Colors */
  --color-green-500: #26BE12;

  /* Yellow Colors */
  --color-yellow-500: #EFAF25;
}

html {
  background-color: rgb(245, 245, 245);
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: rgb(245, 245, 245);
  width: 100%;
  max-width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
