/*noinspection CssInvalidFunction*/
@layer utilities {
    .gradient-border {
        position: relative;
        isolation: isolate;
    }
    .gradient-border::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background: linear-gradient(135deg, #F1F1F1, #D6D6D6, #E4E4E4);
        padding: 1px; /* border width */
        -webkit-mask: -webkit-linear-gradient(#000, #000) content-box, -webkit-linear-gradient(#000, #000);
        -webkit-mask-composite: xor;
        mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
        mask-composite: exclude;
        z-index: 0;        /* 배경 위, 컨텐츠 아래 */
        pointer-events: none;
    }
}
