@utility gradient-border {
    position: relative;
    isolation: isolate;
    border-radius: 9999px;
}

@layer components {
    .gradient-border::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background: linear-gradient(135deg, #F1F1F1, #D6D6D6, #E4E4E4);
        padding: 1px; /* border width */
        -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
        -webkit-mask-composite: xor;
        mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
        mask-composite: exclude;
        z-index: 0;        /* 배경 위, 컨텐츠 아래 */
        pointer-events: none;
    }
}
